[user]
	email = andres.mujica@luminartech.com
	name = Andres Mujica
[core]
	editor = vim
	longpaths = true
[credential]
	helper = cache
[branch]
	autosetuprebase = always
[pull]
	rebase = interactive
[push]
	default = current
[fetch]
	prune = true
[format]
	pretty = format:%C(auto)%h %>(16)%C(green)%aN %C(blue)%>(14)%ar %Creset%s %C(bold yellow)%d%C(reset)
[submodule]
	recurse = false
[diff]
	algorithm = minimal
	indentHeuristic = true
	colorMoved = true
	colorMovedWS = ignore-all-space
[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
	lga = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lgp = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' -p
	mrg = merge --ff-only --no-ff
	cl = clean -x -d -f
	rbc = rebase --continue
	push = push -u
	df = diff --ignore-space-at-eol -b -w --ignore-blank-lines
[init]
	templatedir = ~/configs/all/git_template
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	template = ~/configs/all/git.commit-msg-template
